body{
    margin: 0;
}
div{
    /*background-color: #E3E1FF;*/
    /*border-radius: 10px;*/
    /*margin: 5px;*/

}
.värv{
    background-color: #E3E1FF;
}

.container{
    background-color: #E3E1FF;
    margin-bottom: 6px;
}

.container > div{
    background-color: #0A64B3;
}
#googleMap{
    width:500px;
    height:380px;
}
#raam{
    padding: 0;
    margin: 0;
}
#päis{
    padding: 30px 30px 0px 30px;
    margin: 0;
    background-color: #E3E1FF;
    display: flex;
    justify-content: space-between;
}
#melditud{
    display: flex;
    flex-direction: column;
}

#lingid{
    padding: 0;
    margin: 0px 0px 5px 0;
    background-color: #E3E1FF;

    max-height: 40px;

    width: inherit;
    overflow: auto;
    border: 1px solid;
    text-align: center;
}
#logo{
    float: left;
    font-weight: bold;
    font-size: xx-large;
    font-family: "Arial", Times, Sans-serif;
    font-style: normal;
    text-decoration: none;
    color: black;
    background-color: #E3E1FF;
    padding-right: 15px;
}

#login_form{
    min-width: 578px;
}
.fb-no-jump{
    min-height: 40px;
    overflow: hidden;
}
.fb-login-button{
    min-width: 110px;
    max-width: 110px;
    overflow: hidden;
}


form{
    float: right;
}

input{
    width: 100px;
}
#pop_up > input {
    width: 200px;
}
.kateg{
    height: 100px;
    float: left;
    width: 100px;
    padding: 15px;
    display: inline-block;
    transform: rotate(270deg);
    text-align: center;
    color: darkblue;
    font-weight: bold;
    font-size: x-large;
    font-family: "Arial", Times, Sans-serif;
    background-color: white;
    align-self: center;
    margin-right: 40px;
    margin-left: 40px;
    max-height: 140px;
    max-width: 140px;
    display: table;
}
.sisu{
    height: 150px;
    max-height: 200px;
    min-width: 150px;
    padding: 25px;
    float:left;
    text-align:center;
    max-width: 500px;
    display: table;
    background-color: #E3E1FF;
    margin: 0px 10px;
}

.cont{
    overflow:auto;
    border: 1px solid;
    display: flex;
    max-height: 300px;
    min-height: 140px;
}
.sisu_pealkiri{
    font-weight: bold;
    color: black;
}
.sisu_autor{
    font-style: italic;
}
.sisu_tekst{
    color: black;
    display:table-cell;
    padding-left:20px;
}
.kontakt_container{
    min-height: 300px;
    background-color: #E3E1FF;

}
#postita_nupp{
    color: white;
    border: 1px solid black;
    background-color: #0726B3;
    padding: 15px;
    width: 70px;
    text-align: center;
    margin: 10px 0;
}
#postita_nupp:hover{
    cursor: pointer;
    background-color: darkslategray;
}
#tume_taust{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    /*-moz-opacity: 0.8;*/
    opacity:.80;
    /*filter: alpha(opacity=80);*/
    position: fixed;
}

#pop_up {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 1px solid black;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
footer{
    background-color:  #E3E1FF;
    padding: 10px;
}
#stats_nupp{
    font-weight: bold;
}
#stats_nupp:hover{  
    cursor:pointer;
}
#stats{
    display:none;
}